body {
    margin: 0px;
    background-color: #222;
    color: #fff;
    font-family: Helvetica, Arial, sans-serif;
}
header {
    display: flex;
    justify-content: center;
}
.radio {
    display: flex;
}
.button {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: none;
    box-shadow: none;
    outline: none;
    background-color: aqua;
}