@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    --color-6: #f9cb8f;
    --color-5: #e6926e;
    --color-4: #d96a73;
    --color-3: #c8388a;
    --color-2: #b12f9f;
    --color-1: #9a2eb2;
    --color-0: #7f39bf;
}
body {
    margin: 0px;
    background-color: #222;
    color: #fff;
    font-family: 'Outfit', sans-serif
}
header {
    display: flex;
    justify-content: center;
}
main {
    margin: 0 auto;
    max-width: 600px;
}
p {
    font-size: 1.2em;
}
.radio {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.button {
    width: 40px;
    aspect-ratio: 1 / 1;
    border-radius: 100%;
    border: none;
    box-shadow: none;
    outline-width: 6px;
    outline-offset: -5px;
    outline-style: solid;
    background-color: transparent;
}
.pressed-button {
    background-color: red;
}
.question-holder {
    padding-bottom: 40px;
}
.outline-color-0 {
    outline-color: var(--color-0);
}
.outline-color-1 {
    outline-color: var(--color-1);
}
.outline-color-2 {
    outline-color: var(--color-2);
}
.outline-color-3 {
    outline-color: var(--color-3);
}
.outline-color-4 {
    outline-color: var(--color-4);
}
.outline-color-5 {
    outline-color: var(--color-5);
}
.outline-color-6 {
    outline-color: var(--color-6);
}
.background-color-0 {
    background-color: var(--color-0);
}
.background-color-1 {
    background-color: var(--color-1);
}
.background-color-2 {
    background-color: var(--color-2);
}
.background-color-3 {
    background-color: var(--color-3);
}
.background-color-4 {
    background-color: var(--color-4);
}
.background-color-5 {
    background-color: var(--color-5);
}
.background-color-6 {
    background-color: var(--color-6);
}
