@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    --color-6: #F9CB8F;
    --color-5: #ECA37C;
    --color-4: #E07E71;
    --color-3: #D1517F;
    --color-2: #C63C90;
    --color-1: #AB43AA;
    --color-0: #894AC3;
    --color-bg: #1e1e1e;
    --color-text: #ffeefa;
}
body {
    margin: 2px;
    background-color: var(--color-bg);
    color: var(--color-text);
    font-family: 'Outfit', sans-serif
}
header {
    display: flex;
    justify-content: center;
    text-align: center;
}
main {
    margin: 0 auto;
    max-width: 600px;
}
p {
    font-size: 1.2em;
}
.radio {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2px;
}
.button {
    width: 50px;
    aspect-ratio: 1 / 1;
    border-radius: 100%;
    box-shadow: none;
    border-width: 7px;
    border-style: solid;
    background-color: transparent;
}
.question-holder {
    padding-bottom: 40px;
}
.border-color-0 {
    border-color: var(--color-0);
}
.border-color-1 {
    border-color: var(--color-1);
}
.border-color-2 {
    border-color: var(--color-2);
}
.border-color-3 {
    border-color: var(--color-3);
}
.border-color-4 {
    border-color: var(--color-4);
}
.border-color-5 {
    border-color: var(--color-5);
}
.border-color-6 {
    border-color: var(--color-6);
}
.background-color-0 {
    background-color: var(--color-0);
}
.background-color-1 {
    background-color: var(--color-1);
}
.background-color-2 {
    background-color: var(--color-2);
}
.background-color-3 {
    background-color: var(--color-3);
}
.background-color-4 {
    background-color: var(--color-4);
}
.background-color-5 {
    background-color: var(--color-5);
}
.background-color-6 {
    background-color: var(--color-6);
}
